---
import Card from "../components/Card.astro";
import Checkbox from "../components/Checkbox.astro";
import "../style/gobal.css";
---

<html lang="da">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Lauritz.com Komponenter</title>
  </head>
  <body>
    <h1>Lauritz.com Komponenter</h1>
    <h3>Card galleri</h3>
    <Card
      variant="galleri"
      deluxe={true}
      nyproduceret={false}
      billede="https://picsum.photos/350"
      titel="titel"
      beskrivelse="hej med dig"
      artikel="Artikel: 123456"
      showroom="Showroom: Odense"
    />
    <Card
      deluxe={false}
      nyproduceret={true}
      billede="https://picsum.photos/350"
      titel="titel 2"
      beskrivelse="hej med mig"
      artikel="987654"
      showroom="Herlev"
      bud="800kr"
    />
    <Card
      variant="primary"
      deluxe={true}
      nyproduceret={true}
      billede="https://picsum.photos/350"
      titel="titel 2"
      beskrivelse="hej med mig"
      artikel="987654"
      showroom="Herlev"
      bud="800kr"
    />
    <h3>Checkbox</h3>
    <Checkbox />
  </body>
</html>
