---
import Card from "../components/Card.astro";
import Checkbox from "../components/Checkbox.astro";
import "../style/gobal.css";
---

<html lang="da">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Lauritz.com Komponenter</title>
  </head>
  <body>
    <h1>Lauritz.com Komponenter</h1>
    <h3>Card galleri</h3>
    <div class="galleri-wrapper">
      <Card
        variant="galleri"
        deluxe={true}
        nyproduceret={false}
        billede="https://picsum.photos/350"
        titel="titel"
        beskrivelse="hej med dig"
        artikel="123456"
        showroom=" Odense"
      />
      <Card
        deluxe={false}
        nyproduceret={true}
        billede="https://picsum.photos/350"
        titel="titel 2"
        beskrivelse="hej med mig"
        artikel="987654"
        showroom="Herlev"
        bud="800kr"
      />
      <Card
        variant="primary"
        deluxe={true}
        nyproduceret={true}
        billede="https://picsum.photos/350"
        titel="titel 2"
        beskrivelse="hej med mig"
        artikel="987654"
        showroom="Herlev"
        bud="800kr"
      />
    </div>
    <h3>Checkbox</h3>
    <Checkbox />
  </body>
</html>

<style>
  .galleri-wrapper {
    display: flex;
    flex-direction: row;
    gap: var(--space-m);
    flex-wrap: wrap;
  }

  body {
    padding: 0% 10%;
  }
</style>
