---
import Button from "../components/Button.astro";
import Card from "../components/Card.astro";

import Checkbox from "../components/Checkbox.astro";
import "../style/global.css";
---

<html lang="da">
  <head>
    <meta charset="utf-8" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Lauritz.com Komponenter</title>
  </head>
  <body>
    <h1>Lauritz.com Komponenter</h1>
    


    <h2>Card galleri</h2>
    <div class="galleri-wrapper">
      <Card
        variant="galleri"
        deluxe={true}
        nyproduceret={false}
        billede="https://picsum.photos/350"
        titel="Flora Danica tallerken "
        brand="Royal Copenhagen"
        beskrivelse="hej med dig"
        artikel="123456"
        showroom=" Odense"
        bud="10.000 kr"
        vurdering="20.000 kr"
        slut="1/12 - 12:50"
      />
      <Card
      variant="galleri"
        deluxe={false}
        nyproduceret={true}
        billede="https://picsum.photos/500"
        titel="titel 2"
        brand="Royal Copenhagen"
        beskrivelse="hej med mig"
        artikel="987654"
        showroom="Herlev"
        bud="10.000 kr"
        vurdering="20.000 kr"
        slut="1/12 - 12:50"
      />
      <Card
      variant="galleri"
        deluxe={true}
        nyproduceret={true}
        billede="https://picsum.photos/700"
        titel="titel 2"
        brand="Royal Copenhagen"
        beskrivelse="hej med mig"
        artikel="987654"
        showroom="Herlev"
        bud="10.000 kr"
        vurdering="20.000 kr"
        slut="1/12 - 12:50"
      />
    </div>

    <h2>Cardlist</h2>
    <div class="list_wrapper">
    <Card
    variant="list"
   
    deluxe={false}
    nyproduceret={false}
    billede="https://picsum.photos/700"
    titel="titel 2"
    brand="Royal Copenhagen"
    beskrivelse="hej med mig"
    artikel="987654"
    showroom="Herlev"
    bud="10.000 kr"
    vurdering="20.000 kr"
    slut="1/12 - 12:50"
  />
    <Card
    variant="list"
    
    deluxe={false}
    nyproduceret={true}
    billede="https://picsum.photos/700"
    titel="titel 2"
    brand="Royal Copenhagen"
    beskrivelse="hej med mig"
    artikel="987654"
    showroom="Herlev"
    bud="10.000 kr"
    vurdering="20.000 kr"
    slut="1/12 - 12:50"
  />
    <Card
    variant="list"
    
    deluxe={true}
    nyproduceret={false}
    billede="https://picsum.photos/700"
    titel="titel 2"
    brand="Royal Copenhagen"
    beskrivelse="hej med mig"
    artikel="987654"
    showroom="Herlev"
    bud="10.000 kr"
    vurdering="20.000 kr"
    slut="1/12 - 12:50"
  />
    <Card
    variant="list"
   
    deluxe={true}
    nyproduceret={true}
    billede="https://picsum.photos/700"
    titel="titel 2"
    brand="Royal Copenhagen"
    beskrivelse="hej med mig"
    artikel="987654"
    showroom="Herlev"
    bud="10.000 kr"
    vurdering="20.000 kr"
    slut="1/12 - 12:50"
  /></div>
    
    <div>
      
    </div>
    <div class="checkbox_wrapper">
    <h2>Checkbox</h2>
    <Checkbox 
    variant="bigmark"/>
    <Checkbox />
  </div>
  <div>
    <h2>Knapper</h2>
    <div class="knap_wrapper">
      <div class="primary">
        <h3>Primær knapper</h3>
      
      <h4>Default</h4>
    <Button></Button>
    <h4>Hover</h4>
    <Button variant="button_primary_hover" />
    <h4>Disabled</h4>
    <Button variant="button_primary_disabled" />
    <h4>Active</h4>
    <Button variant="button_primary_active" />
    <h4>Pressed</h4>
    <Button variant="button_primary_pressed" /></div>
    <div class="secondary">
      <h3>Sekundær knapper</h3>
      <h4>Disabled</h4>

    <Button variant="button_secondary"></Button>
    <h4>Hover</h4>
    <Button variant="button_secondary_hover" />
    <h4>Disabled</h4>
    <Button variant="button_secondary_disabled" />
    <h4>Active</h4>
    <Button variant="button_secondary_active" />
    <h4>Pressed</h4>
    <Button variant="button_secondary_pressed" /></div>
  
  
  </div>
    
  </div>
  </body>
</html>

<style>
  * {
    margin: 0;
  }
  .galleri-wrapper {
    display: flex;
    flex-direction: row;
    gap: var(--space-m);
    flex-wrap: wrap;
  }
  .list_wrapper {
    display: grid;
    gap: var(--space-m);
  }
  .knap_wrapper {
    margin-top: 20px;

    display: flex;
    gap: 3rem;
    
    
    

  }
  .checkbox_wrapper {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .primary, .secondary {
    display: grid;
    gap: 2rem;
  }

  body {
    padding: 0% 10%;
  }
</style>
