---
import "../style/global.css";
import Button from "./Button.astro";
const {
  titel,
  beskrivelse,
  billede,
  nyproduceret,
  deluxe,
  vurdering,
  bud,
  slut,
  brand,
  artikel,
  showroom,
  variant,
} = Astro.props;
---

<article data-variant={variant} class="card_wrapper">
  
  <div class="img_wrapper">
    <div class="">
      {deluxe == true && <div class="banner deluxe">Deluxe</div>}
      {
        nyproduceret == true && (
          <div class="banner nyproduceret">Nyproduceret</div>
        )
      }
    </div>

    <img src={billede} alt="" />
  </div>
  <div class="info_wrapper">
    <div class="list_info">
    <p class="artikel">Artikel: {artikel} | Showroom: {showroom}</p>
    <h3>{titel}</h3>
    <p class="brand">{brand}</p>
    <p class="beskrivelse">{beskrivelse}</p></div>
    <div class="list_view">
      <div class="list_switch">
    <p class="bud">Næste bud:<strong> {bud}</strong></p>
    <p class="vurdering">Vurdering: {vurdering}</p>
    <p class="slut">Udløber: {slut}</p></div>
    <Button 
   
   
    /></div>
  </div>

</article>
<!-- <article data-variant={variant}>
  <div class="img_wrapper">
    <div class:list={["banner", { deluxe }, { nyproduceret }]}>
      {deluxe == true && <div class="">deluxe</div>}
      {nyproduceret == true && <div class="  ">Nyproduceret</div>}
    </div>

    <img src={billede} alt="" />
  </div>
  <p>Artikel: {artikel} | Showroom: {showroom}</p>
  <h3>{titel}</h3>
  <p>{brand}</p>
  <p>{beskrivelse}</p>
  <p>Udløber: {slut}</p>
  <p>Vurdering: {vurdering}</p>
  <p>Næste bud:<strong>{bud}</strong></p>

  <Button />
</article> -->

<style>  


  * {
    margin: 0;
  }

  article {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-color: var(--bg-card);
    box-shadow: var(--card-shadow);
    border-radius: var(--card-border-radius-gallery);
  }
  .img_wrapper {
    overflow: hidden;
    height: 250px;
  }

  img {
    width: 100%;
    object-fit: cover;
  }

  .info_wrapper {
    display: flex;
    flex-direction: column;
    padding: var(--space-s) var(--space-m) var(--space-m) var(--space-m);
  }

  p {
    color: var(--text-color-primary);
    font-family: var(--font-family-body);
    font-size: var(--font-size-sm);
  }
  .artikel {
    color: var(--text-color-secondary);
    font-size: var(--font-size-xs);
    font-weight: var(--font-weight-light);

    margin-bottom: var(--space-xs);
  }
  h3 {
    color: var(--text-color-primary);
    font-family: var(--font-family-body);
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-medium);
  }
  .brand {
    color: var(--text-color-brand);
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-regular);
    margin-bottom: var(--space-m);
  }

  .beskrivelse {
    color: var(--text-color-primary);
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-regular);
    display: none;
  }

  .bud {
    color: var(--text-color-secondary);
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-light);
    align-self: flex-end;
  }

  .vurdering {
    color: var(--text-color-secondary);
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-light);
    align-self: flex-end;
    margin-bottom: var(--space-s);
  }

  strong {
    color: var(--text-color-primary);
    font-size: var(--font-size-lg);
    font-weight: var(--font-weight-medium);
  }

  .slut {
    color: var(--text-color-endtime);
    font-size: var(--font-size-xs);
    font-weight: var(--font-weight-semibold);
    margin-bottom: var(--space-s);
    align-self: flex-end;
  }

  .banner {
    width: fit-content;
    padding: var(--space-3xs) var(--space-l);
    text-align: center;
    text-transform: uppercase;
    font-family: var(--font-family-body);
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-medium);
    box-shadow: var(--banner-shadow);
    letter-spacing: var(--letter-spacing-double);
    transform: rotate(-45deg) translate(-28%, -20%);
    position: absolute;
  }
  .banner.deluxe.nyproduceret {
    transform: rotate(-45deg) translate(-28%, -36%);
  }

  .deluxe {
    background-color: var(--bg-banner-deluxe);
    color: var(--text-color-banner-deluxe);
  }

  .nyproduceret {
    background-color: var(--bg-banner-nyproduceret);
    color: var(--text-color-banner-nyproduceret);
  }

  [data-variant="galleri"] {
    max-width: 350px
  }

  [data-variant="list"] {
    display: flex;
    flex-direction: row;
  max-width: none;
  
    
  }

  [data-variant="list"] .img_wrapper {
    overflow: visible;
    width: 300px;
    
  }
  [data-variant="list"] .info_wrapper {
    display: flex;
    flex-direction: row;
    gap: 14rem;
    
  }

  
  [data-variant="list"] .list_switch {
    display: flex;
    flex-direction:column-reverse;
  }
  [data-variant="list"] .list_info {
    display: flex;
    flex-direction:column;
  }
  [data-variant="list"] .list_view {
    text-align: end;
  }
  [data-variant="list"].card_wrapper {
    border-radius:var(--card-border-radius-list);
  }




</style>
